/* * {
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            list-style: none;
            margin: 0;
            outline: none;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        body,
        html {
            height: 100%;
        }

        body {
            background: #dfebed;
            font-family: 'Roboto', sans-serif;
        } */

        .container {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            margin: 0;
            max-width: 500px;
            width: 40%;
        }

        .calendar {
            background: #2b4450;
            border-radius: 4px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
            height: 550px;
            perspective: 1000;
            transition: .9s;
            transform-style: preserve-3d;
            width: 100%;
        }

        /* Front - Calendar */
        .front {
            transform: rotateY(0deg);
        }

        .current-date {
            border-bottom: 1px solid rgba(73, 114, 133, .6);
            display: flex;
            justify-content: space-between;
            padding: 30px 40px;
        }

        .current-date h1 {
            color: #dfebed;
            font-size: 1.4em;
            font-weight: 300;
        }
        
        .week-days {
            color: #dfebed;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            padding: 30px 40px;
            list-style: none;
        }

        .days {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .weeks {
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 40px;
        }

        .weeks div {
            display: flex;
            font-size: 1.2em;
            font-weight: 300;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 100%;
        }

        .last-month {
            opacity: .3;
        }

        .weeks span {
            padding: 10px;
        }

        .weeks span.active {
            background: #f78536;
            border-radius: 50%;
        }

        .weeks span:not(.last-month):hover {
            cursor: pointer;
            font-weight: 600;
        }

        .event {
            position: relative;
        }

        .event:after {
            content: '•';
            color: #24f466;
            font-size: 1.4em;
            position: absolute;
            right: -4px;
            top: -4px;
        }

        /* Back - Event form */

        .back {
            height: 100%;
            transform: rotateY(180deg);
        }

        .back input {
            background: none;
            border: none;
            border-bottom: 1px solid rgba(73, 114, 133, .6);
            color: #dfebed;
            font-size: 1.4em;
            font-weight: 300;
            padding: 30px 40px;
            width: 100%;
        }

        .info {
            color: #dfebed;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            font-size: 1.2em;
            padding: 30px 40px;
        }

        .info div:not(.observations) {
            margin-bottom: 40px;
        }

        .info span {
            font-weight: 300;
        }

        .info .date {
            display: flex;
            justify-content: space-between;
        }

        .info .date p {
            width: 50%;
        }

        .info .address p {
            width: 100%;
        }

        .actions {
            bottom: 0;
            border-top: 1px solid rgba(73, 114, 133, .6);
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
        }

        .actions button {
            background: none;
            border: 0;
            color: #fff;
            font-weight: 600;
            letter-spacing: 3px;
            margin: 0;
            padding: 30px 0;
            text-transform: uppercase;
            width: 50%;
        }

        .actions button:first-of-type {
            border-right: 1px solid rgba(73, 114, 133, .6);
        }

        .actions button:hover {
            background: #497285;
            cursor: pointer;
        }

        .actions button:active {
            background: #5889a0;
            outline: none;
        }

        /* Flip animation */

        .flip {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            backface-visibility: hidden;
        }




        





        /* Import Google font - Poppins */
        /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

         body {
            display: flex;
            align-items: center;
            padding: 0 10px;
            justify-content: center;
            min-height: 100vh;
            background: #9B59B6;
        } 

        .wrapper {
            width: 450px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        }

        .wrapper header {
            display: flex;
            align-items: center;
            padding: 25px 30px 10px;
            justify-content: space-between;
        }

        header .icons {
            display: flex;
        }

        header .icons span {
            height: 38px;
            width: 38px;
            margin: 0 1px;
            cursor: pointer;
            color: #878787;
            text-align: center;
            line-height: 38px;
            font-size: 1.9rem;
            user-select: none;
            border-radius: 50%;
        }

        .icons span:last-child {
            margin-right: -10px;
        }

        header .icons span:hover {
            background: #f2f2f2;
        }

        header .current-date {
            font-size: 1.45rem;
            font-weight: 500;
        }

        .calendar {
            padding: 20px;
        }

        .calendar ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            text-align: center;
        }

        .calendar .days {
            margin-bottom: 20px;
        }

        .calendar li {
            color: #333;
            width: calc(100% / 7);
            font-size: 1.07rem;
        }

        .calendar .weeks li {
            font-weight: 500;
            cursor: default;
        }

        .calendar .days li {
            z-index: 1;
            cursor: pointer;
            position: relative;
            margin-top: 30px;
        }

        .days li.inactive {
            color: #aaa;
        }

        .days li.active {
            color: #fff;
        }

        .days li::before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            height: 40px;
            width: 40px;
            z-index: -1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        .days li.active::before {
            background: #9B59B6;
        }

        .days li:not(.active):hover::before {
            background: #f2f2f2;
        } */